* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
}

#app {
    display: flex;
    width: 100%;
    height: 100%;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
.navbar {
    width: 15%;
    left: 0px;
    top: 0;
    border-radius: 0px;
    background-color: black;
    color: white;
    align-items: unset !important;
}
.navbar-mobile {
    display: none;
}
.navbar
 ul {
    padding: 0;
    width: 100%;
}
.box {
    width: 85%;
}
.navbar
 li {
    list-style: none;
    padding: 10px 0px 10px 20px;
    border-bottom: 1px solid #555;
}

.navbar
 li:hover {
    background-color: #555;
}

.container_Logo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container_Group1 {
    width: 100%;
    height: 210px;
    background: #EFEFEF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.container_Group1 h3 {
    text-align: center;
}

.container_Group1 p {
    width: 70%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.container_box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}
.container_box-Group {
    width: 33%;
}

.Detail {
    display: flex;
    align-items: center;
}

.Detail_logo img {
    width: 128px;
    border-radius: 0px;
    object-fit: cover;
}

.Detail_more {
    width: 326px;
    line-height: 18px;
}

.Detailt2 {
    width: 100%;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}